html {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
body {
	width: 100%;
	font-family: "Arial", sans-serif;
	background-color: #f8f8f8;
	color: #333;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

footer {
	text-align: center;
	font-size: small;
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

.caixa_registro,
.info-box,
.caixa_pergunta,
.caixa_score {
	width: 100%;
	box-sizing: border-box;
	margin: 20px;
	padding: 20px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	text-align: center;
	background-image: url("https://www.guimaconseco.com.br/images/section-contents-bg.jpg");
	background-size: 100% 100%; /* Alterado para '100% 100%' */
	background-position: center;
	background-repeat: no-repeat;
}

.sair,
.iniciar,
.botao_registrar {
	width: 100%;
	padding: 12px;
	background-color: #8bc03c;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.info-box,
.caixa_pergunta,
.caixa_score,
.caixa_rank,
.temporizador {
	display: none;
}

.caixa_registro img {
	display: block;
	margin: 0 auto;
}

.info-box h1 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.info-list {
	padding: 0;
}

.info-list li {
	text-align: left;
	list-style: none;
	margin-bottom: 15px;
}

.info-list span {
	font-weight: bold;
}

.caixa_registro h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

.form_registro {
	display: flex;
	flex-direction: column;
}

.form_registro label {
	font-weight: bold;
	margin-bottom: 8px;
	text-align: left;
}

.form_registro input {
	padding: 10px;
	margin-bottom: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.buttons {
	display: flex;
	flex-direction: column;
}

.caixa_pergunta h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

#opcoes {
	list-style-type: none;
	padding: 0;
}

#opcoes li {
	background-color: #eee8e8;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	margin-bottom: 15px;
	cursor: pointer;
	border: 2px solid #ccc;
	border-radius: 8px;
	padding: 12px;
	transition: background-color 0.5s ease-in-out;
	margin-bottom: 10px;

	-webkit-box-shadow: 7px 6px 17px -4px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 7px 6px 17px -4px rgba(0, 0, 0, 0.57);
	box-shadow: 7px 6px 17px -4px rgba(0, 0, 0, 0.57);
}

#opcoes li.resposta-correta {
	background-color: #8eff8e;
}

#opcoes li.resposta-incorreta {
	background-color: #ff8e8e;
}

.temporizador {
	height: 10px;
	width: 100%;
	background-color: #4caf50;
	margin-bottom: 10px;
	transition: width 1s linear;
	border-radius: 5px;
}

.caixa_score h2 {
	font-size: 24px;
	color: #333;
}

.caixa_score p {
	font-size: 16px;
	color: #333;
}

#display-score {
	font-size: 36px;
	color: #007bff;
	margin: 20px 0;
}

#respostas_corretas {
	font-weight: bold;
	color: #28a745;
}

#qtd_perguntas {
	font-weight: bold;
	color: #333;
}

.caixa_rank {
	background: url("https://www.guimaconseco.com.br/images/logo.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 17%;
	width: 100%;
	background-color: #ebe0e0;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	display: none;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: column;
}

#div_suprema {
	width: 95%;
	font-family: "Montserrat", sans-serif;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.podium-places-container {
	display: flex;
	align-items: flex-end;
	width: 100%;
	justify-content: center;
}

.podium {
	font-weight: bold;
	height: 9em;
	width: 95%;
	display: flex;
	background-color: white;
	/* margin: 2.5em 0em; */
	border-radius: 40px;
	color: white;
}

#lugar {
	display: flex;
	border-color: red;
	width: 100%;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
}

.podium .position {
	font-size: 80px;
	display: flex;
	width: 70px;
	text-align: center;
	flex-direction: column;
	justify-content: space-evenly;
}

.podium .position .gold {
	font-size: 100px;
}

.podium .class-information {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0.6em;
	flex-grow: 1;
	font-size: 1.2rem;
}

.podium.gold .class-information:nth-child(2) {
	font-size: 1.4rem;
}

.podium.bronze {
	color: rgba(45, 00, 0, 0.55);
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px 0 #dea173;
	box-shadow: 2px 2px 0.5em rgba(122, 55, 34, 0.55),
		inset 1px 1px 0 rgba(255, 255, 255, 0.9),
		inset -1px -1px 0 rgba(0, 0, 0, 0.5);
	border: 1px solid #dea173;
	background: -moz-linear-gradient(
		-72deg,
		#ca7345,
		#ffdeca 16%,
		#ca7345 21%,
		#ffdeca 24%,
		#a14521 27%,
		#ca7345 36%,
		#ffdeca 45%,
		#ffdeca 60%,
		#ca7345 72%,
		#ffdeca 80%,
		#ca7345 84%,
		#732100
	);
	background: -webkit-linear-gradient(
		-72deg,
		#ca7345,
		#ffdeca 16%,
		#ca7345 21%,
		#ffdeca 24%,
		#a14521 27%,
		#ca7345 36%,
		#ffdeca 45%,
		#ffdeca 60%,
		#ca7345 72%,
		#ffdeca 80%,
		#ca7345 84%,
		#732100
	);
	background: -o-linear-gradient(
		-72deg,
		#ca7345,
		#ffdeca 16%,
		#ca7345 21%,
		#ffdeca 24%,
		#a14521 27%,
		#ca7345 36%,
		#ffdeca 45%,
		#ffdeca 60%,
		#ca7345 72%,
		#ffdeca 80%,
		#ca7345 84%,
		#732100
	);
	background: linear-gradient(
		-72deg,
		#ca7345,
		#ffdeca 16%,
		#ca7345 21%,
		#ffdeca 24%,
		#a14521 27%,
		#ca7345 36%,
		#ffdeca 45%,
		#ffdeca 60%,
		#ca7345 72%,
		#ffdeca 80%,
		#ca7345 84%,
		#732100
	);
	-webkit-box-shadow: 15px 13px 20px -3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 15px 13px 20px -3px rgba(0, 0, 0, 0.75);
	box-shadow: 15px 13px 20px -3px rgba(0, 0, 0, 0.75);
}

.podium.silver {
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px 0 #ffffff;
	box-shadow: 2px 2px 0.5em rgba(122, 122, 122, 0.55),
		inset 1px 1px 0 rgba(255, 255, 255, 0.9),
		inset -1px -1px 0 rgba(0, 0, 0, 0.34);
	border: 1px solid #dedede;
	background: -moz-linear-gradient(
		-72deg,
		#dedede,
		#ffffff 16%,
		#dedede 21%,
		#ffffff 24%,
		#454545 27%,
		#dedede 36%,
		#ffffff 45%,
		#ffffff 60%,
		#dedede 72%,
		#ffffff 80%,
		#dedede 84%,
		#a1a1a1
	);
	background: -webkit-linear-gradient(
		-72deg,
		#dedede,
		#ffffff 16%,
		#dedede 21%,
		#ffffff 24%,
		#454545 27%,
		#dedede 36%,
		#ffffff 45%,
		#ffffff 60%,
		#dedede 72%,
		#ffffff 80%,
		#dedede 84%,
		#a1a1a1
	);
	background: -o-linear-gradient(
		-72deg,
		#dedede,
		#ffffff 16%,
		#dedede 21%,
		#ffffff 24%,
		#454545 27%,
		#dedede 36%,
		#ffffff 45%,
		#ffffff 60%,
		#dedede 72%,
		#ffffff 80%,
		#dedede 84%,
		#a1a1a1
	);
	background: linear-gradient(
		-72deg,
		#dedede,
		#ffffff 16%,
		#dedede 21%,
		#ffffff 24%,
		#454545 27%,
		#dedede 36%,
		#ffffff 45%,
		#ffffff 60%,
		#dedede 72%,
		#ffffff 80%,
		#dedede 84%,
		#a1a1a1
	);
	-webkit-box-shadow: -15px 13px 20px -3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -15px 13px 20px -3px rgba(0, 0, 0, 0.75);
	box-shadow: -15px 13px 20px -3px rgba(0, 0, 0, 0.75);
}

.podium.gold {
	height: 200px;
	color: rgba(0, 0, 0, 0.72);
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px 0 #ffffff;
	box-shadow: 2px 2px 0.5em rgba(122, 98, 0, 0.55),
		inset 1px 1px 0 rgba(255, 255, 255, 0.9),
		inset -1px -1px 0 rgba(0, 0, 0, 0.34);
	border: 1px solid #deca73;
	background: -moz-linear-gradient(
		-72deg,
		#ffde45,
		#ffffff 16%,
		#ffde45 21%,
		#ffffff 24%,
		#452100 1%,
		#ffde45 36%,
		#ffffff 45%,
		#ffffff 60%,
		#ffde45 72%,
		#ffffff 80%,
		#ffde45 84%,
		#452100
	);
	background: -webkit-linear-gradient(
		-72deg,
		#ffde45,
		#ffffff 16%,
		#ffde45 21%,
		#ffffff 24%,
		#452100 27%,
		#ffde45 36%,
		#ffffff 45%,
		#ffffff 60%,
		#ffde45 72%,
		#ffffff 80%,
		#ffde45 84%,
		#452100
	);
	background: -o-linear-gradient(
		-72deg,
		#ffde45,
		#ffffff 16%,
		#ffde45 21%,
		#ffffff 24%,
		#452100 27%,
		#ffde45 36%,
		#ffffff 45%,
		#ffffff 60%,
		#ffde45 72%,
		#ffffff 80%,
		#ffde45 84%,
		#452100
	);
	background: linear-gradient(
		-72deg,
		#ffde45,
		#ffffff 16%,
		#ffde45 21%,
		#ffffff 24%,
		#452100 27%,
		#ffde45 36%,
		#ffffff 45%,
		#ffffff 60%,
		#ffde45 72%,
		#ffffff 80%,
		#ffde45 84%,
		#452100
	);
	-webkit-box-shadow: 1px 35px 20px -3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 35px 20px -3px rgba(0, 0, 0, 0.75);
	box-shadow: 1px 35px 20px -3px rgba(0, 0, 0, 0.75);
}

.contador {
	font-size: large;
	font-weight: bold;
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: row-reverse;
}
.contador p {
	margin-bottom: 0px;
	margin-right: 40px;
}

table {
	font-size: 1.2rem;
	padding: 10px;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.tabela .nome {
	text-align: start;
}

.tabela {
	width: 90%;
	font-family: sans-serif;
	font-weight: bold;
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabela thead tr {
	background-color: #009879;
	color: #ffffff;
	font-weight: bold;
}

.tabela th,
.tabela td {
	padding: 12px 15px;
}

.tabela tbody tr:nth-of-type(even) {
	background-color: #cfd6cb;
}

.tabela tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

.tabela tbody tr:hover {
	font-weight: bold;
	color: #009879;
}

table::-webkit-scrollbar {
	width: 12px;
}

table::-webkit-scrollbar-thumb {
	background-color: #ccc1c1;
	border-radius: 6px;
}

table::-webkit-scrollbar-track {
	background-color: #f2f2f277;
	border-radius: 6px;
}

@media only screen and (max-width: 600px) {
	.caixa_registro,
	.info-box,
	.caixa_pergunta {
		padding: 10px;
	}

	.form_registro input {
		margin-right: 0;
	}

	.buttons {
		flex-direction: row;
	}

	.sair,
	.iniciar,
	#proximo {
		width: 48%;
		margin-right: 4%;
	}
}
