body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

footer {
    text-align: center;
    font-size: small;
}

.caixa_registro,
.info-box,
.pergunta {
    width: 100%;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#info-box, #perguntaDiv {
    display: none;
}

.caixa_registro {
    max-width: 400px;
}

.caixa_registro h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#form_registro {
    display: flex;
    flex-direction: column;
}

#form_registro label {
    font-weight: bold;
    margin-bottom: 8px;
}

#form_registro input {
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#botão_registrar {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

#botao_registrar:hover {
    background-color: #0056b3;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.sair, .iniciar, #proximo, #botao_registrar {
    width: 100%;
    padding: 10px;
    background-color: #8BC03C; /* Nova cor para os botões */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sair:hover, .iniciar:hover, #proximo:hover {
    background-color: #5e7f21; /* Tom mais escuro para o hover */
}

.info-box h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-list {
    padding: 0;
}

.info-list li {
    list-style: none;
    margin-bottom: 15px;
}

.info-list span {
    font-weight: bold;
}

.pergunta h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

#opcoes {
    list-style-type: none;
    padding: 0;
}

#opcoes li {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 8px;
}

#opcoes li:hover {
    background-color: #f0f0f0;
}

#proximo {
    padding: 10px;
    background-color: #8BC03C; /* Nova cor para o botão */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

#proximo:hover {
    background-color: #5e7f21; /* Tom mais escuro para o hover */
}

#opcoes li {
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

#opcoes li.resposta-correta {
    background-color: #8eff8e;
}

#opcoes li.resposta-incorreta {
    background-color: #ff8e8e;
}

#temporizador {
    display: none;
    height: 10px;
    background-color: #4CAF50;
    width: 100%;
    margin-bottom: 10px;
}

.temporizador {
    height: 100%;
    width: 100%;
    background-color: #4CAF50;
    transition: width 1s linear;
}

#caixa_score {
    display: none;
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
}

#caixa_score h2 {
    font-size: 24px;
    color: #333;
}

#display-score {
    font-size: 36px;
    color: #007bff;
    margin: 20px 0;
}

#caixa_score p {
    font-size: 16px;
    color: #333;
}

#respostas_corretas {
    font-weight: bold;
    color: #28a745;
}

#qtd_perguntas {
    font-weight: bold;
    color: #333;
}



.caixa_registro img {
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .caixa_registro,
    .info-box,
    .pergunta {
        padding: 10px;
    }

    #form_registro input {
        width: calc(100% - 16px);
        margin-right: 0;
    }

    .buttons {
        flex-direction: row;
    }

    .sair, .iniciar, #proximo {
        width: 48%;
        margin-right: 4%;
    }
}